# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual env
.venv/
env/
venv/
/local

# IDE
.idea/
.vscode/

# Django
*.log
*.sqlite3
/media
/static

# Node
node_modules/

# Other
*.zip
*.rar
*.7z
.DS_Store